
<hr />
<h1>Dateien Anzeigen</h1>
<hr />




<form asp-controller="File" asp-action="Index" method="post"
      enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">LOAD AML</button>
</form>
<br />
<label>Uploaded File= @ViewData["FilePath"]</label>