
<ul class='nav'>
    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ansicht</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a asp-action="Projektleiter" asp-route-id="">Projektleiter</a></li>
                <li><a asp-action="Hardwarekonstruktion" asp-route-id="">Hardwarekonstruktion</a></li>
                <li><a asp-action="Softwarekonstruktion" asp-route-id="">Softwarekonstruktion</a></li>
                <li><a asp-action="Administrator" asp-route-id="">Administrator</a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Funktionen</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a asp-controller="File" asp-action="FileUpload" asp-route-id="">FileUpload</a></li>
                <li><a asp-controller="AML" asp-action="Index" asp-route-id="">AML</a></li>
            </ul>
        </div>
    </li>
</ul>

<hr />
<h1>Dateien Anzeigen</h1>
<hr />




<form asp-controller="File" asp-action="Index" method="post"
      enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">LOAD AML</button>
</form>
<br />
<label>Uploaded File= @ViewData["FilePath"]</label>