
<ul class='nav'>
    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ansicht</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a asp-action="Projektleiter" asp-route-id="">Projektleiter</a></li>
                <li><a asp-action="Hardwarekonstruktion" asp-route-id="">Hardwarekonstruktion</a></li>
                <li><a asp-action="Softwarekonstruktion" asp-route-id="">Softwarekonstruktion</a></li>
                <li><a asp-action="Administrator" asp-route-id="">Administrator</a></li>
            </ul>
        </div>
    </li>
</ul>

<hr/>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                Ansicht
            </th>   
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <b>Projektleiterseite</b>-> zum Erstellen von Projekten mit "Grunddaten"
            </td>
        </tr>
        <tr>
            <td>
                <b>Hardwarekonstruktion</b>-> zum Erstellen von "Strukturen"
            </td>
        </tr>
        <tr>
            <td>
                <b>Softwarekonstruktion</b>-> zum Abrufen von "Informationen"
            </td>
        </tr>
        <tr>
            <td>
                <b>Administrator</b>-> zum Verwalten der "AML"
            </td>
        </tr>
    </tbody>

</table>